body{
    background: linear-gradient(90deg, #7BB2E4 0.69%, rgba(59, 91, 207, 0.76) 100%, rgba(57, 80, 162, 0.6) 100%);
}

.labjegyzet{
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
}

.stadion{
    width: 600px;
    height: 350px;
}

.mez_kek{
    position: absolute;
    width: 121px;
    height: 108px;
    left: 1070px;
    top: 370px;
}
