body{
    background: linear-gradient(90deg, #7BB2E4 0.69%, rgba(59, 91, 207, 0.76) 100%, rgba(57, 80, 162, 0.6) 100%);
}

.navbar{
    background: linear-gradient(90deg, #7BB2E4 0.69%, rgba(59, 91, 207, 0.76) 100%, rgba(57, 80, 162, 0.6) 100%);
}

.evertonLogo{
    height: 300px;
    width: 300px;
}

.labjegyzet{
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
}